---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/Footer.astro';

export async function getStaticPaths() {
  const noticias = await getCollection('noticias');

  return noticias.map((entry) => ({
    params: { slug: entry.slug }, // ¡Usá el slug generado automáticamente!
    props: { noticia: entry },
  }));
}


const { noticia } = Astro.props;
---

<Layout title={noticia.data.title}>
  <div class="my-20 md:mt-0 mx-10 lg:mx-0">
    <h1 class="text-center font text-4xl">{noticia.data.title}</h1>

    <div class="md:max-w-6xl m-auto my-8 lg:px-0">
      {noticia.data.image && (
        <img class="mt-4 m-auto w-96 rounded-lg" src={noticia.data.image} alt={noticia.data.title} />
      )}

      <p class="mt-16"><b>{noticia.data.date}</b></p>
    </div>
  </div>

  <Footer />
</Layout>

<style>
  .font {
    font-family: "playfair display", sans-serif;
  }
</style>
