---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/Footer.astro';

export async function getStaticPaths() {
  const noticias = await getCollection('noticias');
  return noticias.map((entry) => ({
    params: { slug: entry.slug },
    props: { noticia: entry },
  }));
}

const { noticia } = Astro.props;
console.log(noticia.data.downloads)
const { Content } = await noticia.render();
const imagenes = noticia.data.galeria ?? []; // fallback a array vacío
const rawVideo = noticia.data.video;
const video = rawVideo?.includes('watch?v=') 
  ? rawVideo.replace('watch?v=', 'embed/')
  : rawVideo;

---

<Layout title={noticia.data.title}>
  <div class="my-20 md:mt-0 mx-10 lg:mx-0">
    <h1 class="text-center font text-4xl">{noticia.data.title}</h1>

    <div class="md:max-w-6xl m-auto my-8 lg:px-0">
      {video && (
        <iframe src={video} class="mt-4 m-auto md:w-3/4 md:h-96" title="Distinción a la Fundación María Elena Walsh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      )}
      {imagenes.length > 0 && (
        <div
          class={`grid gap-4 mt-8 ${
            imagenes.length === 1
              ? 'grid-cols-1 place-items-center'
              : imagenes.length === 2
              ? 'grid-cols-1 md:grid-cols-2 place-items-center'
              : 'grid-cols-1 md:grid-cols-3 '
          }`}
        >
          {imagenes.map((img, i) => (
            <img
              key={i}
              src={img}
              alt={`Imagen ${i + 1}`}
              class="md:h-[30rem] w-full md:w-auto rounded-sm shadow-md"
            />
          ))}
        </div>
      )}
        <br>
        <br>
      <div class="prose prose-base max-w-none prose-invert text-white font-light [&_h1]:text-2xl [&_h1]:font-normal [&_strong]:font-normal">
        <Content />
        {noticia.data.downloads?.length && (
          <div class="mt-8 flex flex-col gap-4">
            {noticia.data.downloads.map((d) => (
              <a
                href={d.url}
                download
                class="border-2 border-white w-max p-3 rounded hover:bg-gray-500 hover:text-white transition no-underline"
              >
                {d.label}
              </a>
            ))}
          </div>
        )}
      </div>
      
      <p class="mt-16 font-normal">{noticia.data.date}</p>
    </div>

    <Footer />
  </div>
</Layout>

<style>
  .font {
    font-family: "playfair display", sans-serif;
  }
  li {
    font-weight: 300 !important;
  }
</style>
