---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../layouts/Footer.astro';

export async function getStaticPaths() {
  const noticias = await getCollection('noticias');
  return noticias.map((entry) => ({
    params: { slug: entry.slug },
    props: { noticia: entry },
  }));
}

const { noticia } = Astro.props;
const { Content } = await noticia.render();
console.log(Content)
---

<Layout title={noticia.data.title}>
  <div class="my-20 md:mt-0 mx-10 lg:mx-0">
    <h1 class="text-center font text-4xl">{noticia.data.title}</h1>

    <div class="md:max-w-6xl m-auto my-8 lg:px-0">
      <img class="mt-4 m-auto w-[32rem]" src={noticia.data.image} alt={noticia.data.title} />
        <br>
        <br>
      <div class="prose prose-base max-w-none prose-invert text-white font-light [&_h1]:text-2xl [&_h1]:font-normal [&_strong]:font-normal">
        <Content />
      </div>
      
      <p class="mt-16 font-normal">{noticia.data.date}</p>
    </div>

    <Footer />
  </div>
</Layout>

<style>
  .font {
    font-family: "playfair display", sans-serif;
  }
  li {
    font-weight: 300 !important;
  }
</style>
