---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../layouts/Footer.astro"
import '@fontsource/playfair-display';
import manuelita from "../../assets/manuelita.png"
import premios2 from "../../assets/premios2.png"
import premios3 from "../../assets/premios3.png"
import premionoticia from "../../assets/premionoticia.jpg"
import niños from "../../assets/7 (1).jpg"
import Noticia from "../../components/Noticia.astro";
import logoblack from "../../assets/logo black.jpeg"
---

<Layout title="Noticias - FMEW">
    <div class="my-20 md:mt-0 mx-10 lg:mx-0">
        <h1 class="text-center font text-4xl">Noticias</h1>
        <div class="md:max-w-6xl m-auto flex flex-col md:flex-row gap-8 my-8 lg:px-0">
            <Noticia src={premios3} href="/noticias/premio-bases" title="Premio Fundación María Elena Walsh - Sara Facio 2024" description="La Fundación María Elena Walsh - Sara Facio convoca al Premio del año 2024 dedicado a la disciplina Literatura, novela erótica." />
			<Noticia src={niños} href="/noticias/premio-infantil-bases" title="Premio infantil Fundación María Elena Walsh - Sara Facio 2024" description="La Fundación María Elena Walsh - Sara Facio convoca al Premio infantil del año 2024 dedicado a la disciplina Literatura, limericks, por los sesenta años de Zoo Loco." />
        </div>

        <div class="md:max-w-6xl m-auto flex flex-col md:flex-row gap-8 my-8 lg:px-0">
			<Noticia src={logoblack} href="/noticias/nueva-figuracion-fundacion" title="Fundación María Elena Walsh - Sara Facio" description="Nueva figuración: Fundación María Elena Walsh - Sara Facio." />
			<Noticia src={premios3} href="/noticias/mundial-2022" title="MUNDIAL 2022: Fotos de una pasión" description="La Fundación María Elena Walsh convoca al Premio del año 2023 dedicado a la disciplina Fotografía." />
        </div>
        
        <div class="md:max-w-6xl m-auto flex flex-col md:flex-row gap-8 my-8 lg:px-0">
            <Noticia src={manuelita} href="/noticias/concurso-infantil" title="CONCURSO INFANTIL: ¡Festejamos los 60 años de Manuelita!" description="La Fundación María Elena Walsh convoca al Premio infantil del año 2023 dedicado a la disciplina Arte sustentable." />
			<Noticia src={premios2} href="/noticias/interes-cultural" title="LA LEGISLATURA PORTEÑA DECLARA DE INTERÉS CULTURAL A LA FUNDACIÓN MARÍA ELENA WALSH" description="La Fundación María Elena Walsh fue reconocida por su labor en la Legislatura Porteña." />
        </div>

        <div class="md:max-w-6xl m-auto flex flex-col md:flex-row gap-8 my-8 lg:px-0">
            <Noticia src={premionoticia} href="/noticias/entrega-premio" title="Entrega de Premio – Fundación María Elena Walsh" description="El 30 de septiembre se formalizó la entrega del Premio Fundación María Elena Walsh 2020." />
            <Noticia src={manuelita} invisible="invisible" href="/noticias/concurso-infantil" title="CONCURSO INFANTIL: ¡Festejamos los 60 años de Manuelita!" description="La Fundación María Elena Walsh convoca al Premio del año 2023 dedicado a la disciplina Fotografía." />
        </div>
        
    </div>
    <Footer/>
</Layout>
<style>
    .font{
        font-family: "playfair display", sans-serif;
    }
</style>